.container{
  background-image: url('../../../assets/images/Calcinateur1.png');
  background-size: cover; background-repeat: no-repeat; height: 26cm;
  width:34cm;  
}

.I_C501{
  background-color: black; color:crimson; margin-left: 4.20cm;
  margin-top: 3.1cm; min-height:1px; width:0.7cm;
}



.TI208{
  background-color: black; margin-left: 8.9cm; margin-top: 0.45cm;
  min-height:0.1cm; width:1cm; color:mediumorchid;
}
.CO{
  background-color: black; margin-left: 10.6cm; margin-top: -3.31cm;
  min-height:0.1px; width:1.1cm; color:chartreuse; 
}

.CO2{
  background-color: black; margin-left: 10.6cm; margin-top: 0.12cm;
  min-height:0.1px; width:1.1cm; color:chartreuse;
}

.O2{
  background-color: black; margin-left: 10.6cm; margin-top: 0.12cm;
  min-height:0.1px; width:1.1cm; color:chartreuse; 
}

.CH4{
  background-color: black; margin-left: 10.6cm; margin-top: 0.12cm;
  min-height:0.1px; width:1.1cm; color:chartreuse;  
}

.FI250{
  background-color: black; margin-left: 5.8cm; margin-top: 5.71cm;
  min-height:0.1px; width:1.1cm; color:chartreuse;  
}

.FQI653{
  background-color: black; margin-left: 0.6cm; margin-top: 1.7cm;
  min-height:20px; width:1.5cm; color:chartreuse;  font-weight: bold;
  font-size: 18px;
}

.LIC260A{
  background-color: black; margin-left: 7.3cm; margin-top: 1.57cm; min-height:23px;
  width:1.6cm; color:yellow; font-size: 18px;
}

.FQI651{
  background-color: black; margin-left: 0.55cm; margin-top: -0.28cm;
  min-height:20px; width:1.6cm; color:chartreuse; font-weight: bold;
  font-size: 18px;
}

.TCS-610{
  background-color: black; margin-left: 1.3cm; margin-top: 1.88cm;
  min-height:0.1px; width:1cm; color:chartreuse; 
}

.P201A{
  background-color: black; margin-left: 1.86cm; margin-top: 0.83cm;
  min-height:0.1px; width:1cm; color:chartreuse; 
}
.P201B{
  background-color: black; margin-left: 1.86cm; margin-top: 0.57cm;
  min-height:0.1px; width:1cm; color:chartreuse; 
}
.P201C{
  background-color: black; margin-left: 1.86cm; margin-top: 0.59cm;
  min-height:0.1px; width:1cm; color:chartreuse; 
}

.IC103{
  background-color: black; margin-left: 1cm; margin-top: 1.5cm;
  min-height:20px; width:0.8cm; color:chartreuse; font-size: 18px;
}

.LVC260A{
  background-color: black; margin-left: 8.65cm; margin-top: -5.01cm;
  min-height:0.1px; width:0.75cm; color:chartreuse;
}

.BASCULE{
  background-color: black; margin-left:6.5cm; margin-top: 2.66cm;
  min-height:40px; width:1.7cm; color:chartreuse; font-weight: bold;
  font-size: 22px;
}

.FQ651{
  background-color: black; margin-left:7.6cm; margin-top: 1.25cm;
  min-height:26px; width:2.4cm; color:chartreuse; font-weight: bold;
  font-size: 19px;
}

.FQ651-M{
  background-color: black; margin-left:8.2cm; margin-top: 1.2cm;
  min-height:22px; width:1.8cm; color:chartreuse; font-weight: bold;
  font-size: 18px;
}

.I_B401{
  background-color: black; margin-left:11.3cm; margin-top: -0.42cm;
  min-height:0.1px; width:0.85cm; color:chartreuse; 
}

.PDI433{
  background-color: black; margin-left:14.9cm; margin-top: -21.7cm;
  min-height:0.1px; width:0.85cm; color:chartreuse;
}

.PI640{
  background-color: black; margin-left:31cm; margin-top: 1cm;
  min-height:25px; width:1.3cm; color:chartreuse; font-size: 18px;
}

.TI206-1{
  background-color: black; margin-left:14.6cm; margin-top: 1.74cm;
  min-height:0.1px; width:1cm; color:mediumorchid; 
}

.TI206-2{
  background-color: black; margin-left:17.55cm; margin-top: 0.72cm;
  min-height:0.1px; width:1cm; color:mediumorchid; 
}
.TI206-3{
  background-color: black; margin-left:20.68cm; margin-top: -0.46cm;
  min-height:0.1px; width:1cm; color:mediumorchid; 
}
.TI206-4{
  background-color: black; margin-left:23.8cm; margin-top: -0.45cm;
  min-height:0.1px; width:1cm; color:mediumorchid; 
}
.TI206-5{
  background-color: black; margin-left:26.9cm; margin-top: -0.43cm;
  min-height:0.1px; width:1cm; color:mediumorchid; 
}
.TI205-1{
  background-color: black; margin-left:13cm; margin-top: 1.85cm;
  min-height:0.1px; width:0.8cm; color:mediumorchid; 
}
.TI205-2{
  background-color: black; margin-left:14.2cm; margin-top: -0.43cm;
  min-height:0.1px; width:0.8cm; color:mediumorchid; 
}
.TI205-3{
  background-color: black; margin-left:15.5cm; margin-top: -0.44cm;
  min-height:0.1px; width:0.8cm; color:mediumorchid; 
}
.TI205-4{
  background-color: black; margin-left:16.8cm; margin-top: -0.44cm;
  min-height:0.1px; width:0.8cm; color:mediumorchid; 
}
.TI203-1{
  background-color: black; margin-left:13.38cm; margin-top: 2.49cm;
  min-height:0.1px; width:0.8cm; color:chartreuse; 
}
.TI203-2{
  background-color: black; margin-left:14.57cm; margin-top: -0.43cm;
  min-height:0.1px; width:0.8cm; color:chartreuse; 
}
.TI203-3{
  background-color: black; margin-left:15.7cm; margin-top: -0.43cm;
  min-height:0.1px; width:0.8cm; color:chartreuse; 
}
.TI207{
  background-color: black; margin-left:14.6cm; margin-top: 2.85cm;
  min-height:0.1px; width:0.8cm; color:chartreuse; 
}

.FQ653{
  background-color: black; margin-left:17.2cm; margin-top: 5.25cm;
  min-height:25px; width:1.5cm; color:chartreuse; font-weight: bold; 
  font-size: 18px;
}
.FQ653-M{
  background-color: black; margin-left:17.2cm; margin-top: 1.19cm;
  min-height:25px; width:1.5cm; color:chartreuse; font-weight: bold; 
  font-size: 18px;
}

.PDI234{
  background-color: black; margin-left:19cm; margin-top: -13.13cm;
  min-height:0.1px; width:1cm; color:chartreuse  
}
.PDI233{
  background-color: black; margin-left:23.8cm; margin-top: 0.11cm;
  min-height:0.1px; width:0.9cm; color:chartreuse;   
}

.LIC260B{
  background-color: black; margin-left:19cm; margin-top: 0.65cm;
  min-height:0.25px; width:1.5cm; color:yellow; font-weight: bold;
  font-size: 18px;  
}
.PDI232{
  background-color: black; margin-left:22.95cm; margin-top: -0.25cm;
  min-height:0.1px; width:0.95cm; color:chartreuse;  
}

.PDI231{
  background-color: black; margin-left:22.95cm; margin-top: 0.95cm;
  min-height:0.1px; width:0.95cm; color:chartreuse;  
}

.PDI230{
  background-color: black; margin-left:18.5cm; margin-top: -0.49cm;
  min-height:0.1px; width:0.95cm; color:chartreuse;  
}
.LVC260B{
  background-color: black; margin-left:17.7cm; margin-top: 1.46cm;
  min-height:0.1px; width:0.75cm; color:yellow;  
}

.TCV204{
  background-color: black; margin-left:25.6cm; margin-top: -2.01cm;
  min-height:0.1px; width:0.75cm; color:mediumorchid;  
}

.I_c501imve{
  margin-left: 4.2cm; margin-top: -13.8cm;
}
.I_c501imgr{
  margin-left: 4.2cm; margin-top: -13.8cm;
}


.I_B4015imve{
  margin-left: 12.75cm; margin-top: 20.3cm; 
}
.I_B4015imgr{
  margin-left: 12.75cm; margin-top: 20.3cm; 
}
.container {
  display: flex;
  justify-content: flex-start; 
}
.child {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: flex-start;
  /* Align elements to the start of the container horizontally */
}








