<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>vue Generale</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content scrollX="true">
  <div class="container">
    <div class="child">

      <ion-input class="BASCULE" type="text" [(ngModel)]="excelData[1][5]"></ion-input>
      <ion-input class="TI105" type="text" [(ngModel)]="excelData[2][5]"></ion-input>
      <ion-input class="TI107" type="text" [(ngModel)]="excelData[3][5]"></ion-input>
      <ion-input class="TI104-2" type="text" [(ngModel)]="excelData[4][5]"></ion-input>
      <ion-input class="LIC160" type="text" [(ngModel)]="excelData[5][5]"></ion-input>
      <ion-input class="TI102" type="text" [(ngModel)]="excelData[6][5]"></ion-input>
      <ion-input class="PDI131" type="text" [(ngModel)]="excelData[7][5]"></ion-input>
      <ion-input class="TI101" type="text" [(ngModel)]="excelData[8][5]"></ion-input>
      <ion-input class="TI106" type="text" [(ngModel)]="excelData[9][5]"></ion-input>
      <ion-input class="TI801" type="text" [(ngModel)]="excelData[10][5]"></ion-input>
      <ion-input class="I_C103" type="text" [(ngModel)]="excelData[11][5]"></ion-input>
      <ion-input class="I_C501" type="text" [(ngModel)]="excelData[12][5]"></ion-input>
      <ion-input class="TI208" type="text" [(ngModel)]="excelData[13][5]"></ion-input>
      <ion-input class="LIC260A" type="text" [(ngModel)]="excelData[14][5]"></ion-input>
      <ion-input class="TCS-610" type="text" [(ngModel)]="excelData[15][5]"></ion-input>
      <ion-input class="P201A" type="text" [(ngModel)]="excelData[16][5]"></ion-input>
      <ion-input class="P201A1" type="text" [(ngModel)]="excelData[17][5]"></ion-input>
      <ion-input class="P201A2" type="text" [(ngModel)]="excelData[18][5]"></ion-input>
      <ion-input class="FQ651" type="text" [(ngModel)]="excelData[19][5]"></ion-input>
      <ion-input class="FQ651-M" type="text" [(ngModel)]="excelData[20][5]"></ion-input>
      <ion-input class="TI206-1" type="text" [(ngModel)]="excelData[21][5]"></ion-input>
      <ion-input class="TI205-1" type="text" [(ngModel)]="excelData[22][5]"></ion-input>
      <ion-input class="TI205-2" type="text" [(ngModel)]="excelData[23][5]"></ion-input>
      <ion-input class="TI205-3" type="text" [(ngModel)]="excelData[24][5]"></ion-input>
      <ion-input class="TI205-4" type="text" [(ngModel)]="excelData[25][5]"></ion-input>
      <ion-input class="TI203-1" type="text" [(ngModel)]="excelData[26][5]"></ion-input>
      <ion-input class="TI203-2" type="text" [(ngModel)]="excelData[27][5]"></ion-input>
      <ion-input class="TI203-3" type="text" [(ngModel)]="excelData[28][5]"></ion-input>
      <ion-input class="TI207" type="text" [(ngModel)]="excelData[29][5]"></ion-input>
      <ion-input class="TI303-1" type="text" [(ngModel)]="excelData[30][5]"></ion-input>
      <ion-input class="TI303-2" type="text" [(ngModel)]="excelData[31][5]"></ion-input>
      <ion-input class="TI303-3" type="text" [(ngModel)]="excelData[32][5]"></ion-input>
      <ion-input class="B201" type="text" [(ngModel)]="excelData[33][5]"></ion-input>
      <ion-input class="TI308" type="text" [(ngModel)]="excelData[34][5]"></ion-input>
      <ion-input class="LIC260B" type="text" [(ngModel)]="excelData[35][5]"></ion-input>
      <ion-input class="TI305" type="text" [(ngModel)]="excelData[36][5]"></ion-input>
      <ion-input class="LIC300" type="text" [(ngModel)]="excelData[37][5]"></ion-input>
      <ion-input class="PI330" type="text" [(ngModel)]="excelData[38][5]"></ion-input>
      <ion-input class="TI505" type="text" [(ngModel)]="excelData[39][5]"></ion-input>
      <ion-input class="TI403-1" type="text" [(ngModel)]="excelData[40][5]"></ion-input>
      <ion-input class="TI403-7" type="text" [(ngModel)]="excelData[41][5]"></ion-input>
      <ion-input class="PDI532" type="text" [(ngModel)]="excelData[42][5]"></ion-input>
      <ion-input class="LIC560" type="text" [(ngModel)]="excelData[43][5]"></ion-input>
      <ion-input class="FIC450" type="text" [(ngModel)]="excelData[44][5]"></ion-input>
      <ion-input class="FCV450" type="text" [(ngModel)]="excelData[45][5]"></ion-input>
      <ion-input class="B202" type="text" [(ngModel)]="excelData[46][5]"></ion-input>
      <ion-input class="PI640" type="text" [(ngModel)]="excelData[47][5]"></ion-input>

      
    </div>
  </div>
</ion-content>
