<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>refroidissement</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content scrollX="true">
  <div class="container">
    <div class="child">

      <ion-input class="LI352-A" type="text" [(ngModel)]="excelData[1][7]"></ion-input>
      <ion-input class="LI352-B" type="text" [(ngModel)]="excelData[2][7]"></ion-input>
      <ion-input class="TI306-1" type="text" [(ngModel)]="excelData[3][7]"></ion-input>
      <ion-input class="TI306-2" type="text" [(ngModel)]="excelData[4][7]"></ion-input>
      <ion-input class="TI308" type="text" [(ngModel)]="excelData[5][7]"></ion-input>
      <ion-input class="PDI333" type="text" [(ngModel)]="excelData[6][7]"></ion-input>
      <ion-input class="TI305" type="text" [(ngModel)]="excelData[7][7]"></ion-input>
      <ion-input class="PDI332" type="text" [(ngModel)]="excelData[8][7]"></ion-input>
      <ion-input class="TI303-1" type="text" [(ngModel)]="excelData[9][7]"></ion-input>
      <ion-input class="TI303-2" type="text" [(ngModel)]="excelData[10][7]"></ion-input>
      <ion-input class="TI303-3" type="text" [(ngModel)]="excelData[11][7]"></ion-input>
      <ion-input class="LIC360" type="text" [(ngModel)]="excelData[12][7]"></ion-input>
      <ion-input class="PDI360" type="text" [(ngModel)]="excelData[13][7]"></ion-input>
      <ion-input class="HVV350" type="text" [(ngModel)]="excelData[14][7]"></ion-input>
      <ion-input class="PI330" type="text" [(ngModel)]="excelData[15][7]"></ion-input>
      <ion-input class="FIC350" type="text" [(ngModel)]="excelData[16][7]"></ion-input>
      <ion-input class="FCV350" type="text" [(ngModel)]="excelData[17][7]"></ion-input>
      <ion-input class="STV102" type="text" [(ngModel)]="excelData[18][7]"></ion-input>
      <ion-input class="PI640" type="text" [(ngModel)]="excelData[19][7]"></ion-input>
      <ion-input class="TI406-1" type="text" [(ngModel)]="excelData[20][7]"></ion-input>
      <ion-input class="TI406-2" type="text" [(ngModel)]="excelData[21][7]"></ion-input>
      <ion-input class="TI405" type="text" [(ngModel)]="excelData[22][7]"></ion-input>
      <ion-input class="TVC504" type="text" [(ngModel)]="excelData[23][7]"></ion-input>
      <ion-input class="TI533" type="text" [(ngModel)]="excelData[24][7]"></ion-input>
      <ion-input class="TI505" type="text" [(ngModel)]="excelData[25][7]"></ion-input>
      <ion-input class="LCV360" type="text" [(ngModel)]="excelData[26][7]"></ion-input>
      <ion-input class="PDI432" type="text" [(ngModel)]="excelData[27][7]"></ion-input>
      <ion-input class="LIC560" type="text" [(ngModel)]="excelData[28][7]"></ion-input>
      <ion-input class="TI403-1" type="text" [(ngModel)]="excelData[29][7]"></ion-input>
      <ion-input class="TI403-2" type="text" [(ngModel)]="excelData[30][7]"></ion-input>
      <ion-input class="PDI532" type="text" [(ngModel)]="excelData[31][7]"></ion-input>
      <ion-input class="TIC504" type="text" [(ngModel)]="excelData[32][7]"></ion-input>
      <ion-input class="PI430" type="text" [(ngModel)]="excelData[33][7]"></ion-input>
      <ion-input class="PI530" type="text" [(ngModel)]="excelData[34][7]"></ion-input>
      <ion-input class="TI503" type="text" [(ngModel)]="excelData[35][7]"></ion-input>
      <ion-input class="FIC550" type="text" [(ngModel)]="excelData[36][7]"></ion-input>
      <ion-input class="FIC450" type="text" [(ngModel)]="excelData[37][7]"></ion-input>
      <ion-input class="FCV450" type="text" [(ngModel)]="excelData[38][7]"></ion-input>
      <ion-input class="FCV550" type="text" [(ngModel)]="excelData[39][7]"></ion-input>
      
      
    </div>
  </div>
</ion-content>
