.container{
    background-image: url('../../../assets/images/Refroidissement1.png');
    background-size: cover; background-repeat: no-repeat; height: 35cm;
    width:51cm;  
  }
.LI352-A{
    background-color:black; margin-left:21cm ; margin-top: 5.55cm;
    min-height:0.5px; width:1.15cm; color:chartreuse; font-size:17px; 
}
.LI352-B{
    background-color:black; margin-left:21cm ; margin-top: 0.23cm;
    min-height:0.5px; width:1.15cm; color:chartreuse; font-size:17px; 
} 
.TI306-1{
    background-color:black; margin-left:13.3cm ; margin-top: 1.12cm;
    min-height:0.5px; width:1.15cm; color:chartreuse; font-size:17px; 
} 
.TI306-2{
    background-color:black; margin-left:21cm ; margin-top: -0.49cm;
    min-height:0.5px; width:1.15cm; color:chartreuse; font-size:17px; 
} 
.TI308{
    background-color:black; margin-left:5.7cm ; margin-top: 0.62cm;
    min-height:0.5px; width:1.15cm; color:chartreuse; font-size:17px; 
} 
.PDI333{
    background-color:black; margin-left:14.3cm ; margin-top: 3.8cm;
    min-height:0.5px; width:1.15cm; color:chartreuse; font-size:17px; 
} 
.TI305{
    background-color:black; margin-left:6.2cm ; margin-top: 2.63cm;
    min-height:0.5px; width:1.15cm; color:chartreuse; font-size:17px; 
} 
.PDI332{
    background-color:black; margin-left:13.6cm ; margin-top: 1.86cm;
    min-height:0.5px; width:1.15cm; color:chartreuse; font-size:17px; 
} 
.TI303-1{
    background-color:black; margin-left:7.75cm ; margin-top: 1.16cm;
    min-height:0.5px; width:1.15cm; color:chartreuse; font-size:17px; 
} 
.TI303-2{
    background-color:black; margin-left:9.1cm ; margin-top: -0.52cm;
    min-height:0.5px; width:1.15cm; color:chartreuse; font-size:17px; 
} 
.TI303-3{
    background-color:black; margin-left:10.5cm ; margin-top: -0.52cm;
    min-height:0.5px; width:1.15cm; color:chartreuse; font-size:17px; 
}
.LIC360{
    background-color:black; margin-left:13cm ; margin-top: -0.52cm;
    min-height:0.5px; width:1.16cm; color:yellow; font-size:17px; 
} 
.PDI360{
    background-color:black; margin-left:13.1cm ; margin-top: 0.52cm;
    min-height:0.5px; width:1.16cm; color:chartreuse; font-size:17px; 
} 
.HVV350{
    background-color:black; margin-left:1.9cm ; margin-top: 1.08cm;
    min-height:0.5px; width:1.4cm; color:chartreuse; font-size:17px; 
} 
.PI330{
    background-color:black; margin-left:11.7cm ; margin-top: -0.35cm;
    min-height:0.5px; width:1.15cm; color:chartreuse; font-size:17px; 
} 
.FIC350{
    background-color:black; margin-left:0.7cm ; margin-top: 1.73cm;
    min-height:0.5px; width:1.4cm; color:chartreuse; font-size:17px; 
} 
.FCV350{
    background-color:black; margin-left:0.7cm ; margin-top: 0.7cm;
    min-height:0.5px; width:1.4cm; color:chartreuse; font-size:17px; 
} 
.STV102{
    background-color:black; margin-left:8.9cm ; margin-top: -0.86cm;
    min-height:0.5px; width:1.4cm; color:chartreuse; font-size:17px; 
} 
.PI640{
    background-color:black; margin-left:46.5cm ; margin-top: -18.8cm;
    min-height:0.5px; width:1.5cm; color:chartreuse; font-size:17px; 
} 
.TI406-1{
    background-color:black; margin-left:36.4cm ; margin-top: 0.4cm;
    min-height:0.5px; width:1.1cm; color:chartreuse; font-size:17px; 
} 
.TI406-2{
    background-color:black; margin-left:40cm ; margin-top: -0.49cm;
    min-height:0.5px; width:1.1cm; color:chartreuse; font-size:17px; 
} 
.TI405{
    background-color:black; margin-left:25.6cm ; margin-top: -0.42cm;
    min-height:0.5px; width:1.1cm; color:chartreuse; font-size:17px; 
} 
.TVC504{
    background-color:black; margin-left:33.5cm ; margin-top: 2.03cm;
    min-height:0.5px; width:1.1cm; color:chartreuse; font-size:17px; 
} 
.TI533{
    background-color:black; margin-left:31.5cm ; margin-top: 1.2cm;
    min-height:0.5px; width:1.1cm; color:chartreuse; font-size:17px; 
} 
.TI505{
    background-color:black; margin-left:29.8cm ; margin-top: 1.53cm;
    min-height:0.5px; width:1.1cm; color:chartreuse; font-size:17px; 
} 
.LCV360{
    background-color:black; margin-left:24cm ; margin-top: 0cm;
    min-height:0.5px; width:1.1cm; color:yellow; font-size:17px; 
} 
.PDI432{
    background-color:black; margin-left:22.43cm ; margin-top: 1.41cm;
    min-height:0.5px; width:1.2cm; color:chartreuse; font-size:17px; 
} 
.LIC560{
    background-color:black; margin-left:22.9cm ; margin-top: 1cm;
    min-height:0.5px; width:1.2cm; color:yellow; font-size:17px; 
} 
.TI403-1{
    background-color:black; margin-left:27.3cm ; margin-top: -0.35cm;
    min-height:0.5px; width:1.2cm; color:chartreuse; font-size:17px; 
} 
.TI403-2{
    background-color:black; margin-left:28.7cm ; margin-top: -0.53cm;
    min-height:0.5px; width:1.2cm; color:chartreuse; font-size:17px; 
} 
.PDI532{
    background-color:black; margin-left:34.4cm ; margin-top: -0.75cm;
    min-height:0.5px; width:1.2cm; color:chartreuse; font-size:17px; 
} 
.TIC504{
    background-color:black; margin-left:39.3cm ; margin-top: -0.79cm;
    min-height:0.5px; width:1.2cm; color:chartreuse; font-size:17px; 
} 
.PI430{
    background-color:black; margin-left:23.7cm ; margin-top: 3.4cm;
    min-height:0.5px; width:1.2cm; color:chartreuse; font-size:17px; 
} 
.PI530{
    background-color:black; margin-left:28.6cm ; margin-top: -0.55cm;
    min-height:0.5px; width:1.2cm; color:chartreuse; font-size:17px; 
} 
.TI503{
    background-color:black; margin-left:41.4cm ; margin-top: -1.8cm;
    min-height:0.5px; width:1.2cm; color:chartreuse; font-size:17px; 
} 
.FIC550{
    background-color:black; margin-left:34.5cm ; margin-top: 3.1cm;
    min-height:0.5px; width:1.4cm; color:chartreuse; font-size:17px; 
} 
.FIC450{
    background-color:black; margin-left:23.9cm ; margin-top: 0cm;
    min-height:0.5px; width:1.4cm; color:chartreuse; font-size:17px; 
}
.FCV450{
    background-color:black; margin-left:22.3cm ; margin-top: 0.75cm;
    min-height:0.5px; width:1cm; color:chartreuse; font-size:17px; 
}
.FCV550{
    background-color:black; margin-left:32.4cm ; margin-top: -0.77cm;
    min-height:0.5px; width:1cm; color:chartreuse; font-size:17px; 
}
.container {
    display: flex;
    justify-content: flex-start; 
  } 