<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">registration</ion-title>
    </ion-toolbar>
  </ion-header>
  <form>

    <ion-item lines="full">
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" #name required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Mobile</ion-label>
      <ion-input type="text" #mobile required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" #email required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" #password required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" (click)="signUp(name,mobile,email,password)" expand="block">Registration</ion-button>
      </ion-col>
    </ion-row>

  </form>
</ion-content>
