.container{
    background-image: url('../../../assets/images/Sechage1.png');
    background-size: cover; background-repeat: no-repeat; height: 26cm;
    width:36cm;  
  }

.WI191{
    background-color: black; margin-left: 10.4cm; margin-top: 1.5cm;
    min-height:25px; width:1cm; color:chartreuse; font-weight: bold;
    font-size: 18px;
  }  
.WICD0{
    background-color: black; margin-left: 10.5cm; margin-top: 1.47cm;
    min-height:25px; width:1cm; color:chartreuse; font-weight: bold;
    font-size: 18px;
  }  
.TonnageEntree{
    background-color: black; margin-left: 13cm; margin-top: -0.8cm;
    min-height:25px; width:1.5cm; color:chartreuse; font-weight: bold;
    font-size: 18px;
  } 
.HCV199{
    background-color: black; margin-left: 3.5cm; margin-top: 6.24cm;
    min-height:25px; width:1.1cm; color:chartreuse; 
    font-size: 18px;
    }      
.FQI652{
  background-color: black; margin-left: 6.6cm; margin-top: -0.35cm;
  min-height:0.1px; width:1.5cm; color:chartreuse;  
}
.TI107{
  background-color: black; margin-left: 2.7cm; margin-top: 2.33cm;
  min-height:20px; width:2.3cm; color:chartreuse; 
  font-size: 18px;
}
.TI106{
  background-color: black; margin-left: 5cm; margin-top: 1.85cm;
  min-height:0.1px; width:1.1cm; color:chartreuse;  
}
.FQI650{
  background-color:black ; margin-left: 4.3cm; margin-top: 1.06cm;
  min-height:10px; width:1.3cm; color:chartreuse; font-size:13px ; 
}
.IIC_195{
  background-color: black; margin-left: 3.9cm; margin-top: 2.51cm;
  min-height:0.1px; width:0.8cm; color:chartreuse; 
}
.FIC152{
  background-color:black ; margin-left: 7cm; margin-top: 0.4cm;
  min-height:10px; width:1.3cm; color:chartreuse; font-size:13px ; 
}
.PI135{
  background-color:black ; margin-left: 10.15cm; margin-top: 0.46cm;
  min-height:10px; width:0.9cm; color:chartreuse; font-size:13px ;
}
.FCV152{
  background-color:black ; margin-left: 5.8cm; margin-top: 0.39cm;
  min-height:10px; width:0.8cm; color:chartreuse; font-size:13px ;
}
.ENERGIE{
  background-color:black ; margin-left: 7.7cm; margin-top: 1.45cm;
  min-height:10px; width:2.3cm; color:chartreuse; font-size:15px ;
}
.WI-191{
  background-color: black; margin-left: 15cm; margin-top: -3.8cm;
  min-height:25px; width:2.5cm; color:chartreuse; font-weight: bold;
  font-size: 18px;
}
.WICD01{
  background-color: black; margin-left: 15cm; margin-top: 0.2cm;
  min-height:25px; width:2.5cm; color:chartreuse; font-weight: bold;
  font-size: 18px;
}
.WI-191-M{
  background-color: black; margin-left: 16cm; margin-top: 0.95cm;
  min-height:25px; width:1.6cm; color:chartreuse; font-weight: bold;
  font-size: 19px;
}
.WIC190{
  background-color: black; margin-left: 18.6cm; margin-top: -19.88cm;
  min-height:20px; width:1.2cm; color:yellow; font-weight: bold;
  font-size: 21px;
}
.TI105{
  background-color: black; margin-left: 18.2cm; margin-top: 4.6cm;
  min-height:0.1px; width:0.95cm; color:chartreuse; 
}
.TI104-1{
  background-color: black; margin-left: 14.5cm; margin-top: 4.08cm;
  min-height:0.1px; width:1.7cm; color:mediumorchid; font-weight: bold;
  font-size: 19px;
}
.TI103{
  background-color: black; margin-left: 14.7cm; margin-top: 0.8cm;
  min-height:0.1px; width:1cm; color:mediumorchid; 
}
.PDI131{
  background-color: black; margin-left: 17.7cm; margin-top: 0.1cm;
  min-height:0.1px; width:1.5cm; color: chartreuse; 
  font-size: 19px;
}
.TI101{
  background-color: black; margin-left: 20.4cm; margin-top: 2.54cm;
  min-height:0.1px; width:0.9cm; color: chartreuse; 
}
.PI640{
  background-color: black; margin-left: 29cm; margin-top: -18.2cm;
    min-height:25px; width:1.5cm; color:chartreuse; font-weight: bold;
    font-size: 18px;
}
.FQ655{
  background-color: black; margin-left: 27.6cm; margin-top: 4.4cm;
  min-height:20px; width:1.3cm; color:chartreuse; font-weight: bold;
  font-size: 21px;
}
.PDI134{
  background-color: black; margin-left: 33.1cm; margin-top: 4.08cm;
  min-height:0.1px; width:1cm; color: chartreuse; 
  font-size: 16px;
}
.PI133{
  background-color: black; margin-left: 31.1cm; margin-top: 0.24cm;
  min-height:0.1px; width:0.9cm; color: chartreuse; 
  font-size: 15px;
}
.PDI132{
  background-color: black; margin-left: 33cm; margin-top: 1.27cm;
  min-height:0.1px; width:0.9cm; color: chartreuse; 
  font-size: 13px;
}
.TI104-2{
  background-color: black; margin-left: 26.3cm; margin-top: -0.29cm;
  min-height:0.1px; width:0.9cm; color: mediumorchid; 
  font-size: 14px; font-weight: bold;
}
.LIC160{
  background-color: black; margin-left: 28.8cm; margin-top: 0.15cm;
  min-height:0.1px; width:1.2cm; color: yellow; 
  font-size: 20px; font-weight: bold;
}
.TI102{
  background-color: black; margin-left: 25.7cm; margin-top: -0.2cm;
  min-height:0.1px; width:0.9cm; color: mediumorchid; 
  font-size: 14px; font-weight: bold;
}
.LCV160{
  background-color: black; margin-left: 25.56cm; margin-top: 1.18cm;
  min-height:0.1px; width:0.7cm; color:yellow; 
  font-size: 14px; font-weight: bold;
}
.I_C103{
  background-color: black; margin-left: 32.45cm; margin-top: 3.88cm;
  min-height:0.1px; width:0.7cm; color: chartreuse; 
  font-size: 20px; font-weight: bold;
}

.container {
    display: flex;
    justify-content: flex-start; 
  }  