<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>sechage</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content scrollX="true">
  <div class="container">
    <div class="child">

      <ion-input class="WI191" type="text" [(ngModel)]="excelData[1][3]"></ion-input>
      <ion-input class="WICD0" type="text" [(ngModel)]="excelData[2][3]"></ion-input>
      <ion-input class="TonnageEntree" type="text" [(ngModel)]="excelData[3][3]"></ion-input>
      <ion-input class="HCV199" type="text" [(ngModel)]="excelData[4][3]"></ion-input>
      <ion-input class="FQI652" type="text" [(ngModel)]="excelData[5][3]"></ion-input>
      <ion-input class="TI107" type="text" [(ngModel)]="excelData[6][3]"></ion-input>
      <ion-input class="TI106" type="text" [(ngModel)]="excelData[7][3]"></ion-input>
      <ion-input class="FQI650" type="text" [(ngModel)]="excelData[8][3]"></ion-input>
      <ion-input class="IIC_195" type="text" [(ngModel)]="excelData[9][3]"></ion-input>
      <ion-input class="FIC152" type="text" [(ngModel)]="excelData[10][3]"></ion-input>
      <ion-input class="PI135" type="text" [(ngModel)]="excelData[11][3]"></ion-input>
      <ion-input class="FCV152" type="text" [(ngModel)]="excelData[12][3]"></ion-input>
      <ion-input class="ENERGIE" type="text" [(ngModel)]="excelData[13][3]"></ion-input>
      <ion-input class="WI-191" type="text" [(ngModel)]="excelData[14][3]"></ion-input>
      <ion-input class="WICD01" type="text" [(ngModel)]="excelData[15][3]"></ion-input>
      <ion-input class="WI-191-M" type="text" [(ngModel)]="excelData[16][3]"></ion-input>
      <ion-input class="WIC190" type="text" [(ngModel)]="excelData[17][3]"></ion-input>
      <ion-input class="TI105" type="text" [(ngModel)]="excelData[18][3]"></ion-input>
      <ion-input class="TI104-1" type="text" [(ngModel)]="excelData[19][3]"></ion-input>
      <ion-input class="TI103" type="text" [(ngModel)]="excelData[20][3]"></ion-input>
      <ion-input class="PDI131" type="text" [(ngModel)]="excelData[21][3]"></ion-input>
      <ion-input class="TI101" type="text" [(ngModel)]="excelData[22][3]"></ion-input>
      <ion-input class="PI640" type="text" [(ngModel)]="excelData[23][3]"></ion-input>
      <ion-input class="FQ655" type="text" [(ngModel)]="excelData[24][3]"></ion-input>
      <ion-input class="PDI134" type="text" [(ngModel)]="excelData[25][3]"></ion-input>
      <ion-input class="PI133" type="text" [(ngModel)]="excelData[26][3]"></ion-input>
      <ion-input class="PDI132" type="text" [(ngModel)]="excelData[27][3]"></ion-input>
      <ion-input class="TI104-2" type="text" [(ngModel)]="excelData[28][3]"></ion-input>
      <ion-input class="LIC160" type="text" [(ngModel)]="excelData[29][3]"></ion-input>
      <ion-input class="TI102" type="text" [(ngModel)]="excelData[30][3]"></ion-input>
      <ion-input class="LCV160" type="text" [(ngModel)]="excelData[31][3]"></ion-input>
      <ion-input class="I_C103" type="text" [(ngModel)]="excelData[32][3]"></ion-input>
      
    </div>
  </div>
</ion-content>
